body {
        background: #e483fc;
        font-family: Arial;
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-align: center;
        letter-spacing: 3px;
     }

html {
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 15px;
}
